body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:973px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6028 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:35px;
  width:93px;
  height:18px;
  display:flex;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6028 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6028_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6029 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:134px;
  width:93px;
  height:18px;
  display:flex;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6029 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6029_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6030 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:229px;
  width:93px;
  height:18px;
  display:flex;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6030 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6030_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6031 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:809px;
  width:121px;
  height:18px;
  display:flex;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6031 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6031_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6032 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:63px;
  width:773px;
  height:30px;
  display:flex;
}
#u6032 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6033 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:837px;
  width:599px;
  height:15px;
  display:flex;
}
#u6033 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6034 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:160px;
  width:300px;
  height:15px;
  display:flex;
}
#u6034 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:450px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6035 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:264px;
  width:124px;
  height:450px;
  display:flex;
  text-align:left;
}
#u6035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6036 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:264px;
  width:748px;
  height:450px;
}
#u6037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:50px;
}
#u6037 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:50px;
  display:flex;
  text-align:left;
}
#u6037 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:50px;
}
#u6038 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:0px;
  width:577px;
  height:50px;
  display:flex;
  text-align:left;
}
#u6038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:50px;
}
#u6039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:171px;
  height:50px;
  display:flex;
  text-align:left;
}
#u6039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:50px;
}
#u6040 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:50px;
  width:577px;
  height:50px;
  display:flex;
  text-align:left;
}
#u6040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:50px;
}
#u6041 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:171px;
  height:50px;
  display:flex;
  text-align:left;
}
#u6041 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:50px;
}
#u6042 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:100px;
  width:577px;
  height:50px;
  display:flex;
  text-align:left;
}
#u6042 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:50px;
}
#u6043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:171px;
  height:50px;
  display:flex;
  text-align:left;
}
#u6043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:50px;
}
#u6044 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:150px;
  width:577px;
  height:50px;
  display:flex;
  text-align:left;
}
#u6044 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:50px;
}
#u6045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:171px;
  height:50px;
  display:flex;
  text-align:left;
}
#u6045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:50px;
}
#u6046 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:200px;
  width:577px;
  height:50px;
  display:flex;
  text-align:left;
}
#u6046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:50px;
}
#u6047 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:171px;
  height:50px;
  display:flex;
  text-align:left;
}
#u6047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:50px;
}
#u6048 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:250px;
  width:577px;
  height:50px;
  display:flex;
  text-align:left;
}
#u6048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:50px;
}
#u6049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:171px;
  height:50px;
  display:flex;
  text-align:left;
}
#u6049 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:50px;
}
#u6050 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:300px;
  width:577px;
  height:50px;
  display:flex;
  text-align:left;
}
#u6050 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:50px;
}
#u6051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:50px;
  display:flex;
  text-align:left;
}
#u6051 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:50px;
}
#u6052 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:350px;
  width:577px;
  height:50px;
  display:flex;
  text-align:left;
}
#u6052 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:50px;
}
#u6053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:171px;
  height:50px;
  display:flex;
  text-align:left;
}
#u6053 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6053_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:50px;
}
#u6054 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:400px;
  width:577px;
  height:50px;
  display:flex;
  text-align:left;
}
#u6054 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
